<!DOCTYPE html>
    <%- include('partials/head') %> 
    <body style="background-color: white">
        <%- include('partials/navbar') %>     
        
        <main class="main">
        <div class="user-view">
            <nav class="user-view__menu">
                <ul class="side-nav">
                    <li class="side-nav--active">
                        <a href="#">Settings</a>
                    </li>
                    <li>
                        <a href="#">My Orders</a>
                    </li>
                    <li>
                        <a href="#">My reviews</a>
                    </li>
                </ul>
            </nav>

            <div class="user-view__content">
                <div class="user_view__form-container">
                    <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
                    
                    <form class="form form-user-data">
                        <div class="form__group">
                            <label class="form__label" for="name"> Name</label>
                            <input type="text" class="form__input" id="name" required value="<%=user.name%>">
                            
                            <label class="form__label" for="email">Email address</label>
                            <input type="email" class="form__input" id="email" required value="<%=user.email%>">
                            <div class="form__group right">
                                <button class="btn btn--small btn--green"> Save settings</button>
                            </div>
                        </div>
            
            
                    </form>
            
            
                </div>
            </div>

        </div>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>   
          
    </body>
</html>
