<!DOCTYPE html>
<%- include('partials/head') %> 
<body style="background-color: white">
    <%- include('partials/navbar') %>     
    <div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
        <div class="row">
        
            <% for(let product of Products) {%>
            <div class="col-sm-4 col-xl-4 mb-4 ms-0">
              <!-- card body -->
                <div class="card h-100" style="border-radius: 20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                    <form class="addc" style="display: inline !important;">
                    <div class="img text-center d-block mt-2 mb-4" style="height: 110px;">
                        <img src="/image/products/<%=product.images[0]%>" class="card-img-top p-3" style="width: 100px;height: 100px;" alt="Store Image"><br>
                    </div>
                    <div class="card-body" style="border-radius: 20%;">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title" style="font-size: 105%;"><%=product.name %></h4>
                            <h5 class="card-text fw-bold text-end;"> ₹<%= product.price %> </h5>
                        </div>
                        
                        <p class="card-text" style="font-size: 80%;"> <%= product.description %> </p>
                    
                        <div class="card-footer">
                            <button type="button" class="Cart w-50" onclick="fill('<%=product._id%>');"><i class="fas fa-shopping-cart"></i> Cart</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <% } %> 
        </div>
          
    </div>
    




    <footer>
        <%- include('partials/footer') %>
    </footer>   

    <input type="hidden" id="proId">
    <script>
    
    function fill(proId){
      document.getElementById("proId").value=proId;
    }
    
    </script>

</body>
</html>
