<!DOCTYPE html>
<%- include('partials/head') %> 
<body style="background-color:white" class="mx-5">
    <%- include('partials_agent/navbar') %>  

    <div class="navbar navbar-expand-lg navbar-light bg-none">
        <div class="container col-lg-9 col-md-12 col-sm-12">
          <table class="table text-center table-dark table-hover" id="userData">
            <thead>
              
      
                <tr style="height: 30px; vertical-align: middle">
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Unit Price</th>

                    <th scope="col">Quantity</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
              <% let i=1; %> 
              <% for(let product of Products){ %> 
                  <th scope="row"><span class="no"><%=i %> </span></th>
                  <% i++; %> 
                  <td style="text-transform: capitalize;"><%=product.category %> </td>
                  
                  <td><img src="/image/products/<%=product.images[0]%>" style="width: 100px;height: 100px;"></td>
                  <td><%=product.name %></td>
                  <td><%=product.description %></td>
                  
                  <td>₹<%=product.price %></td>
                  <td><%=product.quantity %></td>
                  
                    <td>
                      <button type="button" class="w-100 mt-1.7 btn btn-success btn-sm">
                        <i class="fas fa-edit"></i>
                      </button>
                    </td>
                </tr>
                <% } %> 
              </tbody>
            </table>
          </div>   
        </div>
    
    <input
      type="button"
      class="btn btn-success"
      value="Add Product"
      onclick="location.href='/add-product'"
    />  

</body>