
<!DOCTYPE html>
<%- include('partials/head') %> 

  <body>
    <!-- ------------ navbar ------------- -->
    <!-- heading  -->
    <%- include('partials/navbar')%> 
    <div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4 d-flex justify-content-between" style="border-bottom: 1px solid black;">
      <h1 class="mx-4"><%=shop.shop%> </h1>
      <div class="mt-3"><%=shop.name %> </div>
    </div>
    
   
    


    <input type="hidden" id="proId">
    <%- include('partials/footer') %> 
    <script>
      
      function fill(proId){
        document.getElementById("proId").value=proId;
      }
      
    </script>
  </body>
</html>